{
    CFBundleExecutable = "LiteralWord";
    CFBundleIconFile = icon_deb.png;
    CFBundleIdentifier = "com.ebcsv.literalword";
    CFBundleInfoDictionaryVersion = 6.0;
    CFBundlePackageType = APPL;
    CFBundleSignature = "????";
    CFBundleSupportedPlatforms = (
	iPhoneOS
    );
    CFBundleVersion = 1.0;
    UIDeviceFamily = (
        1,
	2
    );
    DTPlatformName = iphoneos;
    DTSDKName = iphoneos5.0.internal;
    MinimumOSVersion = 3.0;
}
